.todo-add-container{
    
    padding: 10px;
    width: 80%;
    
    
    margin: 20px auto 0;
    border: 2px;
    
}
.form-container{
    
    margin-top: 80px;
   
    display: flex;
    justify-items: flex-start;
}

.btn-outline-light{
    margin-left:auto;
    
}
.btn-outline-dark{
    margin-left:auto;
    
}