/* .container{
    width: 80%;
    margin: 150px auto 0;
    display: flex;
    justify-content: flex-start;
} */




 
.todo-list-container{
    width: 80%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-items: auto;
    align-items: space-between;
    margin: 20px auto 0;
    border: 2px;
}
.todo-list-dark-container{
    width: 80%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-items: auto;
    align-items: space-between;
    margin: 20px auto 0;
    border: 2px;
    color:white;
}

.span-message{
    color:red;
}

.spinner-border{
    margin-left:250px;
}